body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}
nav > p {
  cursor: pointer;
}

header p {
  padding: 0 20px;
  margin: 0;
}
.login p {cursor: pointer;}
.login .dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0px;
  left: auto;
  width: 290px;
  border-radius: 0;
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif; 
}
.login .dropdown-menu h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  
}
.menu {
  position: relative;
  display: inline;
  cursor: pointer;
}
.menu:hover {
  cursor: pointer;
}
.menu .dropdown-menu {
  position: absolute;
  top: 40px;
  right: auto;
  left: auto;
  width: 290px;
  border-radius: 0;
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif; 
}

.menu .dropdown-menu li a {
  color: black;
  font-size: 16px;
  padding: 5px 15px;
}
.login:hover {cursor: pointer;}

.login .dropdown-menu button {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://scontent.xx.fbcdn.net/hphotos-ash2/t31.0-8/10750511_804855849556001_8113049705283100021_o.jpg');
  background-size: cover;
  background-position: center, top;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-sm-6 {
  margin: 0 0 30px;
  opacity: 0.7;
}

.col-sm-6:hover {
  opacity: 1;
  cursor: pointer;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fff;
  text-shadow: none;
  opacity: 0.7;
}

.btn.btn-primary:hover {
  opacity: 1;
}

.btn-secondary {
  background-color: #1f4fa1;
  color: #ffffff;
  margin: 0 0 30px;
  opacity: 0.7;
}
.btn-secondary:hover {
  opacity: 1;
  color: #fff;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li a img {
  width: 32px;
  height: 32px;
}
a {
  text-decoration: none;
  color: black;
}